body {
    font-family: Helvetica;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:cadetblue;
    text-align: center;
    background-image: url("https://64.media.tumblr.com/6b9f953bb203b322b5eddfb1276c7e52/tumblr_mjpprknFgN1s0v0blo1_1280.jpg");
    text-align: center;
    font-size: 25pt;
}

<<<<<<< HEAD
<<<<<<< HEAD
.neon-text {
        color: #fff;
      text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
    }
=======
=======
.hello_message{
    color: purple;
    font-size: 30px;
    font-weight: normal;
}
>>>>>>> 1d697a0e93d7a4b6f3e7d253c949fa469a4993f2
.tonysclass {
    width: 50%;
    height: 50%;    
}
<<<<<<< HEAD
>>>>>>> ea2ae57351b92b5170a415cf1402586439a7c5ac
=======

h1 { 
  background-image: url('https://wallpapercave.com/wp/wp2642192.jpg');
}
<<<<<<< HEAD
>>>>>>> 365ffc3da4942b273141a13b19d62403111ea3a3
=======
#ahmedmustafa{
    color:green;
    font-weight: bolder;
    font-size: medium;
    text-align: center;
}
>>>>>>> 1d697a0e93d7a4b6f3e7d253c949fa469a4993f2
