body {
    font-family: Helvetica;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:cadetblue;
<<<<<<< HEAD
    background-image: url("among us.jpg");
=======
    text-align: center;
    background-image: url("https://64.media.tumblr.com/6b9f953bb203b322b5eddfb1276c7e52/tumblr_mjpprknFgN1s0v0blo1_1280.jpg");
    text-align: center;
    font-size: 25pt;
}

.hello_message{
    color: purple;
    font-size: 30px;
    font-weight: normal;
}
.tonysclass {
    width: 50%;
    height: 50%;    
}

h1 { 
  background-image: url('https://wallpapercave.com/wp/wp2642192.jpg');
>>>>>>> 365ffc3da4942b273141a13b19d62403111ea3a3
}
