<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
    </head>
    <body>
        <h1>Muahahahaha, this is Khoa</h1>
        <h1>CSC4350 Lecture 8</h1>
        <h1>Muahahahaha, this is Koha</h1>
        <h2>I am the MELLON LORD!!</h2>
        <div class=hello_message>
            <p>Hello viewers! This is the workspace for the Lecture 8 demo of merging different branches.</p>
        </div>
        <h2 align = "right"> This is where we change everything up!</h2>
        <br>
        <br>
        <iframe width="420" height="315"
        src="https://www.youtube.com/watch?v=nknDqFENQxk?autoplay=1">
        </iframe>
    </body>
    <h1 class="tonysclass">Georgia State University</h1>
    <img src="https://media-exp1.licdn.com/dms/image/C4E1BAQGS1g2YV3r57Q/company-background_10000/0/1564167322585?e=1632250800&v=beta&t=RQuAAdxgkQdk1FKxEcYRIyKtoeFU3h6eHmt_BtHoKi4"/>

    <p id="ahmedmustafa">This is ahmed mustafa's contribution</p>
</html>
